**Q1. Write an SQL query to show the top n (say 10) records of a table.**

Select * from table limit 10;

**Q2. Write an SQL query to determine the nth (say n=5) highest salary from a table.**

Select name, salary from Employee order by salary desc limit 4,1;